* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --index: calc(1vw + 1vh);
}

body {
  background-color: #f5f8ff;
}

.h1 {
  font-size: 70px;
  font-weight: 600;
  color: #010b23;
}

.h1 span {
  color: #2f0899;
  font-size: 70px;
  font-weight: 600;
}

.text-h1 {
  font-size: 24px;
  font-weight: 300;
  color: #010b23;
  margin-bottom: calc(var(--index) * 1);
}

header {
  position: relative;
  width: 100%;
  padding: 4vw;
  z-index: 15;
  margin-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  height: 82px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
}

.logo {
  text-decoration: none;
  color: #363636;
  font-size: 30px;
  font-weight: 600;
  background-color: #fff;
}

.logo span {
  color: #2f0899;
  font-size: 30px;
  font-weight: 600;
  background-color: #fff;
}

nav ul {
  display: flex;
  background-color: #fff;
}

nav ul li {
  list-style: none;
  background-color: #fff;
}

nav ul li a:hover {
  color: #2f0899;
  font-weight: 600;
}

nav ul li a {
  text-decoration: none;
  display: flex;
  color: #363636;
  align-items: center;
  padding-left: 50px;
  background-color: #fff;
  font-weight: 300;
}

.mobile-list {
  display: none;
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.menu-close {
  display: none;
  cursor: pointer;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
  gap: 50px;
}

.header-content h1 {
  font-size: calc(var(--index) * 2.9);
  font-weight: 600;
  color: #363636;
  line-height: 1.2;
  margin-bottom: 25px;
}

.header-content h1 span {
  font-size: calc(var(--index) * 2.9);
  font-weight: 600;
  color: #2f0899;
}

.header-content p {
  font-size: calc(var(--index) * 1);
  font-weight: 300;
  color: #363636;
  margin-bottom: 25px;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  width: 274px;
  background-color: #f68d2c;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.header-img img {
  width: calc(var(--index) * 28);
  border-radius: 50px;
}

section {
  padding-left: 4vw;
  padding-right: 4vw;
  margin-bottom: 150px;
}

.blue-section {
  width: 100%;
  background-color: #2f0899;
  border-radius: 50px;
  color: #fff;
  padding: 100px 50px 100px 50px;
}

.blue-section h2 {
  font-size: 70px;
  font-weight: 600;
}

.blue-section__content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-text {
  margin-right: 50px;
}

.section-text p {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 25px;
}

.section-num {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.num-item h3 {
  font-size: 70px;
  font-weight: 600;
}

.num-item span {
  font-size: 24px;
  font-weight: 300;
}

#services,
#expertise,
#clients,
#about,
#consultation,
.clients-items {
  margin-bottom: calc(var(--index) * 4);
}

.icon-cards {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.icon-card {
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 25px 5px 25px 25px;
  height: 357px;
  width: 400px;
  color: #010b23;
  box-shadow: 0 5px 4px rgba(54, 54, 54, 0.0225);
}

.icon-card__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-card__header img {
  background-color: #f68d2c;
  width: 61px;
  height: 61px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}

.icon-card__header h6 {
  font-size: 28px;
  font-weight: 600;
}

.icon-card p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.icon-card__drops {
  display: flex;
  align-items: baseline;
}

.drop {
  width: 15px;
  height: 15px;
  background-color: #f68d2c;
  margin-right: 10px;
  border-radius: 50%;
}

.icon-card__drops span {
  font-size: 20px;
  font-weight: 300;
}

.expertise-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
  width: 100%;
}

.expertise-item {
  width: 48%;
  height: 307px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 5px 4px rgba(54, 54, 54, 0.0225);
}

.expertise-item:last-child {
  width: 100%;
}

.expertise-item__header {
  background-color: #2f0899;
  width: 100%;
  height: 80px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  padding: 0px 20px;
}

.expertise-item__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 35px 0;
}

.expertise-item__content-block:last-child {
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.expertise-item__lastContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
  gap: 15px;
}

.content-block__item {
  width: max-content;
  border: 2px solid #f68d2c;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 44px;
  padding: 5px 25px;
  font-size: 20px;
  font-weight: 500;
}

.clients-items {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.client-item {
  padding: 25px;
  background-color: #fff;
  border-radius: 50px;
  font-size: 40px;
  font-weight: 600;
  box-shadow: 0 5px 4px rgba(54, 54, 54, 0.0225);
  margin-bottom: 20px;
}

.client-item span {
  color: #2f0899;
  font-weight: 600;
  font-size: 40px;
}

.slider-clients {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 40px;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 0.25rem;
}
.slick-dots button {
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #ececec;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: #f68d2c;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  display: flex;
  justify-content: space-between;
}

.hire-items {
  margin-top: 25px;
  margin-bottom: 50px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hire-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 25px;
}

.hire-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 61px;
  background-color: #fff;
  color: #2f0899;
  font-size: 40px;
  font-weight: 600;
  border-radius: 10px;
  margin-right: 25px;
}

.hire-item h5 {
  font-size: 28px;
  font-weight: 600;
}

.hire-items p {
  font-size: 20px;
  font-weight: 300;
}

.employee {
  margin-top: calc(var(--index) * 4);
  margin-bottom: calc(var(--index) * 4);
}

.employee h1 {
  font-size: 70px;
  font-weight: 600;
  color: #010b23;
  margin-bottom: 80px;
}

.employee h1 span {
  font-size: 70px;
  font-weight: 600;
  color: #2f0899;
}

.slider-employee {
  width: 620px !important;
  height: 534px;
  border-radius: 50px;
  box-shadow: 0 5px 4px rgba(54, 54, 54, 0.0225);
  padding: 25px;
  background-color: #fff;
  margin-right: 50px;
}
.slider-employee:last-child {
  margin-right: 0;
}

.employee-header {
  display: flex;
  margin-bottom: 5px;
}

.employee-header img {
  width: 129px;
  height: 125px;
  margin-right: 25px;
}

.employee-header__content h5 {
  font-size: 28px;
  font-weight: 600;
  color: #2f0899;
}

.header-content__items {
  display: flex;
  margin-bottom: 5px;
}

.header-content__item {
  font-size: 18px;
  color: #fff;
  border-radius: 50px;
  margin-right: 10px;
  padding: 5px 15px;
  font-weight: 500;
  height: 37px;
}

.blue {
  background-color: #2f0899;
}

.orange {
  background-color: #f68d2c;
}

.employee-location {
  display: flex;
  align-items: center;
}

.employee-location img {
  width: 31px;
  height: 31px;
  margin-right: 10px;
}

.employee-location span {
  font-size: 20px;
  font-weight: 300;
  color: #010b23;
}

.slider-employee p {
  font-size: 20px;
  font-weight: 300;
  color: #010b23;
  margin-bottom: 10px;
}

.employee-footer__experience {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.experience-item {
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 300;
}

.experience-item span {
  font-size: 20px;
  font-weight: 600;
}

.employee-skills h6 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  height: 27px;
  padding: 15px;
  margin-bottom: 5px;
  border: 2px solid #2f0899;
}

@media (max-width: 1127px) {
  nav ul li a {
    padding-left: 20px;
  }
  .header {
    height: 100%;
  }

  .header-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .blue-section__content {
    grid-template-columns: 1fr;
  }
  .icon-cards {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .expertise-item {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 980px) {
  nav ul li a {
    font-size: 18px;
  }
  nav .logo,
  nav .logo span {
    font-size: 26px;
  }
  .icon-card {
    width: 100%;
    height: auto;
  }
  .clients-items {
    justify-content: space-around;
  }
  .slider-clients {
    justify-content: space-around;
  }
}

@media (max-width: 813px) {
  nav ul li a {
    padding-left: 10px;
  }
}

@media (max-width: 786px) {
  .header-block {
    flex-wrap: wrap;
    margin-top: 125px;
  }
  .header-content h1 {
    font-size: 60px;
  }
  .header-content h1 span {
    font-size: 60px;
  }
  .header-content p {
    font-size: 20px;
  }
  .contact-btn {
    font-size: 24px;
  }
  .text-h1 {
    font-size: 20px;
  }
  .header-content {
    width: 100%;
    order: 1;
  }

  .header-img {
    order: 2;
  }
  .menu-toggle {
    width: 32px;
    height: 24px;
    margin-right: 5px;
    display: block;
    position: relative;
    background-color: #fff;
    border: none;
  }

  .menu-toggle span {
    position: absolute;
    width: 32px;
    height: 4px;
    background-color: #2f0899;
    border-radius: 5px;
    left: 5px;
    transition: transform 0.5s, opacity 0.5s;
  }

  .menu-toggle span:nth-child(1) {
    transform: translateY(-10px);
  }

  .menu-toggle span:nth-child(3) {
    transform: translateY(10px);
  }

  .header.open .menu-toggle span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }
  .header.open .menu-toggle span:nth-child(2) {
    opacity: 0;
  }
  .header.open .menu-toggle span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .nav-list {
    width: 100%;
    position: absolute;
    top: 82px;
    left: 0;
    right: 0;
    background: #fff;
    opacity: 0;
    flex-direction: column;
    padding: 0 4vw;
    height: 100vh;
    z-index: -1;
    transition: 0.2s ease-in;
  }

  .nav-list.active {
    opacity: 1;
    z-index: 25;
  }

  nav ul li {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
  }
  nav ul li a {
    padding-left: 0;
    font-size: 20px;
  }

  .mobile-list {
    width: 100%;
    color: #363636;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .line {
    height: 2px;
    background-color: #2f0899;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 25px;
  }

  .contacts-item,
  .contacts-item h4,
  .contacts-item a,
  .menu-contacts {
    background-color: #fff;
  }

  .menu-contacts {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts-item {
    margin-bottom: 25px;
    margin-right: 25px;
  }

  .contacts-item h4 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 600;
  }

  .contacts-item a {
    font-size: 20px;
    color: #363636;
    text-decoration: none;
    font-weight: 300;
    margin-right: 15px;
  }
  .contacts-item a img {
    width: 61px;
    height: 61px;
    border-radius: 0;
  }
  .header-img img {
    width: 100%;
  }
  .blue-section {
    padding: 35px;
  }
  .blue-section h2 {
    font-size: 60px;
  }
  .section-text p {
    font-size: 20px;
  }
  .num-item h3 {
    font-size: 60px;
  }

  .num-item span {
    font-size: 20px;
  }
  .icon-card__header h6 {
    font-size: 28px;
  }
  .content-block__item {
    font-size: 18px;
  }
  .clients-items {
    gap: 10px;
  }
  .slider-clients {
    gap: 0;
  }
  .hire-num {
    width: 49px;
    height: 49px;
    font-size: 30px;
  }
  .hire-h2 {
    font-size: 55px !important;
  }
  .hire-item h5 {
    font-size: 20px;
  }
  .hire-items {
    align-items: flex-start;
  }
  .hire-items p {
    font-size: 20px;
  }
  .employee h1 {
    font-size: 60px;
    margin-bottom: 40px;
    line-height: 1.2;
  }
  .employee h1 span {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .h1 {
    font-size: 36px;
  }
  .h1 span {
    font-size: 36px;
  }
  .text-h1 {
    font-size: 15px;
  }
  nav .logo,
  nav .logo span {
    font-size: 24px;
  }
  .contacts-item h4 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .contacts-item a {
    font-size: 15px;
  }
  .contacts-item a img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
  .header-content h1 {
    font-size: 36px;
  }
  .header-content h1 span {
    font-size: 36px;
  }
  .header-content p {
    font-size: 15px;
  }
  .contact-btn {
    font-size: 20px;
    width: 100%;
  }
  .section-num {
    grid-template-columns: 1fr;
  }
  .blue-section {
    padding: 25px;
  }
  .blue-section h2 {
    font-size: 36px;
  }
  .section-text p {
    font-size: 15px;
  }
  .num-item h3 {
    font-size: 36px;
    line-height: 0.8;
  }

  .num-item span {
    font-size: 15px;
  }
  .icon-card__header img {
    width: 40px;
    height: 40px;
  }
  .icon-card__header h6 {
    font-size: 20px;
  }
  .icon-card p {
    font-size: 15px;
  }
  .icon-card__drops {
    align-items: center;
  }
  .icon-card__drops span {
    font-size: 15px;
  }
  .expertise-item__header {
    font-size: 20px;
  }
  .content-block__item {
    width: 100%;
    font-size: 15px;
  }
  .expertise-item__content {
    grid-template-columns: 1fr 1fr;
    justify-items: baseline;
    padding: 35px;
  }
  .client-item {
    text-align: center;
  }
  .hire-h2 {
    font-size: 36px !important;
  }
  .hire-num {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  .hire-item h5 {
    font-size: 18px;
  }
  .hire-items {
    grid-template-columns: 1fr;
    margin-bottom: 25px;
  }
  .hire-items p {
    font-size: 15px;
  }
  .slider-employee {
    height: 100%;
    margin-right: 15px;
  }
  .employee-header img {
    width: 104px;
    height: 123px;
    margin-right: 15px;
  }
  .employee-header__content h5 {
    font-size: 18px;
  }
  .header-content__items {
    display: flex;
    flex-wrap: wrap;
  }
  .header-content__item {
    height: 28px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .employee-location img {
    width: 24px;
    height: 24px;
  }
  .employee-location span {
    font-size: 15px;
  }
  .slider-employee p {
    font-size: 15px;
  }
  .experience-item,
  .experience-item span,
  .employee-skills h6,
  .skill-item {
    font-size: 15px;
  }
  .skill-item {
    margin-bottom: 10px;
  }
  .employee h1 {
    font-size: 36px;
    margin-bottom: 25px;
  }
  .employee h1 span {
    font-size: 36px;
  }
}
